* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

#pkmList {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
}

.pkmCard {
  border: 1px solid blue;
  width: 150px;
}

.pkmImgShiny {
  display: none;
}

.toggleBtn {
  height: 20px;
  width: 50px;
  cursor: pointer;
}
